<h1>Games</h1>

<table class="games">
  <thead>
    <tr>
      <th width="100">Name</th>
      <th width="100">Address</th>
      <th width="100">City</th>
      <th width="100">State</th>
      <th width="100">Zip</th>
    </tr>
  </thead>
  <tbody>
    <% if @games.present? %>
    <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.name, game_path(game) %></td>
      <td>
        <p>
          <%= game.address %>
          <br>
          <%= game.city %>, <%= game.state %> <%= game.zip %>
        </p>
      </td>
    </tr>
    <% end %>
    <% else %>
    <p>No results found</p>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
<%= link_to "Create new game", new_game_path %>
<% end %>
