<h1 style="color:White;">Welcome to PickitUp!</h1>
<h3 style="color:White;"> Here are a list of games currently available </h3>

<table class="center">
  <thead>
    <tr>
      <th width="150">Name</th>
      <th width="100">Street</th>
      <th width="100">City</th>
      <th width="100">State</th>
      <th width="100">Zip</th>
      <th width="100">Tip Off Time</th>
      <th width="100">Tip Off Date</th>
    </tr>
  </thead>
  <tbody>
    <% if @games.present? %>
    <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.name, game_path(game) %></td>
      <td><%= game.address %></td>
      <td><%= game.city %></td>
      <td><%= game.state %></td>
      <td><%= game.zip %></td>
      <td><%= game.tip_time %></td>
      <td><%= game.tip_date %></td>
    </tr>
    <% end %>
    <% else %>
    <p style="color:White;">No games nearby</p>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
<%= link_to "Create New Game", new_game_path, {:style => 'color: #99FFFF'} %>
<% end %>
