<h1>Game Details</h1>

<div class="row">
  <div class="large-10 columns">
    <table class="games">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag(@game.image) %></td>
          <td><%= @game.name %></td>
          <td><%= @game.address %></td>
          <td><%= @game.city %></td>
          <td><%= @game.state %></td>
          <td><%= @game.zip %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<% if (current_user != nil && current_user.id == @game.user_id) || (!current_user.nil? && current_user.role == 2) %>

<%= link_to "Edit", edit_game_path(@game) %>
<%= link_to 'Delete Game', game_path(@game), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
