
<h1>Game Details</h1>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <h2>Find the game here:</h2>
    <iframe
    width="303"
    height="227"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBpNCywq-uxWjQnJICVNxv47n-HJA3AiYI
    &q=<%= @game.name.split(' ').join('+') %>+<%= @game.city %>+<%= @game.state %>
    &attribution_source=Google+Maps+Embed+API
    &attribution_ios_deep_link_id=comgooglemaps://?daddr=<%= @game.name.split(' ').join('+') %>+<%= @game.city %>+<%= @game.state %>">
  </iframe>
</div>
<div class="row">
  <div class="large-10 columns">
    <table class="games">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>Tip Off Time</th>
          <th>Tip Off Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag(@game.image) %></td>
          <td><%= @game.name %></td>
          <td><%= @game.address %></td>
          <td><%= @game.city %></td>
          <td><%= @game.state %></td>
          <td><%= @game.zip %></td>
          <td><%= @game.tip_time %></td>
          <td><%= @game.tip_date %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<% if (current_user != nil && current_user.id == @game.user_id) || (!current_user.nil? && current_user.role == 2) %>

<%= link_to "Edit", edit_game_path(@game) %>
<%= link_to 'Delete Game', game_path(@game), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
