<h1>Game Details</h1>

<div class="row">
  <div class="large-10 columns">
    <table class="games">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @game.name %></td>
          <td>
            <p>
              <%= @game.address %>
              <br>
              <%= @game.city %>, <%= @game.state %> <%= @game.zip %>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<% if current_user != nil && current_user.id == @game.user_id %>

<%= link_to "Edit", edit_game_path(@game) %>
<%= link_to 'Delete Game', game_path(@game), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
