<!DOCTYPE html>
<html>
<head>
  <title>Pickitup</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Pickitup</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if current_user %>
          <li><%= link_to "My Account", user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
        <li class="has-form">
          <div class="row collapse">
            <%= form_tag games_path, method: :get do %>
            <div class="large-7 small-9 columns">
              <%= text_field_tag :query, nil, placeholder: "Find Local Games" %>

            </div>
            <div class="large-5 small-3 columns">
              <%= submit_tag "Enter Zip Code", { class: "button radius" } %>
            </div>
            <% end %>
          </div>
        </li>
      </ul>
    </section>
  </nav>

  <% flash.each do |key, value| %>
    <div class="success label">
      <%= value %>
    </div>
  <% end %>
<div class="container">

  <%= yield %>
</div>
  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
    $(function(){
      $(document).foundation();
    });
  <% end %>
  <%= yield :extra_footer %>
</body>
</html>
